{% extends "base.html" %}

{% block pageidblock %}{{pageid}}{% endblock %}

{% block content %}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
          <address>
            <strong>Z-Pulley Inc.</strong><br/>

            POBox 1614<br/>
            Langley, WA 98260<br/>
            <abbr title="Phone">P:</abbr> (360) 221-2441<br/>
            <abbr title="Email">E:</abbr> info@z-pulley.com
          </address>
      </div>

      <!-- Example row of columns -->
      <div class="row">

      </div>

      <footer>
        <p>&copy; Z-Pulley Inc. 2012</p>
      </footer>

    </div> <!-- /container -->

{% endblock %}
